<div class="card mt-2">
    <div class="card-body">
        <h5 class="card-title">Instituciones
            <button *ngIf="auth&&auth.roles.includes('SuperAdmin')" class="btn btn-outline-primary" (click)="agregarModal(agregar)">
                <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </h5>
        <table class="table table-striped p-col">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">RUT</th>
                    <th scope="col">Razon Social</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let institucion of instituciones; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ institucion.rut }}</td>
                    <td>{{ institucion.razonSocial}}</td>
                    <td>
                        <button *ngIf="auth&&auth.roles.includes('SuperAdmin')" class="btn btn-outline-warning" (click)="editarModal(editar,institucion)">
                            <fa-icon [icon]="faEdit"></fa-icon>
                        </button>
                        <button *ngIf="auth&&auth.roles.includes('SuperAdmin')" class="btn btn-outline-danger" (click)="borrarModal(borrar,institucion)">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </button>
                        <button  class="btn btn-outline-info" [routerLink]="'/'+institucion.id">
                            <fa-icon [icon]="faSearch"></fa-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #agregar let-c="close" let-d="dismiss">
    <form [formGroup]="agregarInstitucion" (ngSubmit)="onSubmit()">

        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Agregar Institución</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="mb-3">
                <label for="rut" class="form-label">RUT</label>
                <input type="rut" class="form-control" formControlName="rut" id="rut">
            </div>
            <div class="mb-3">
                <label for="razonSocial" class="form-label">Razon Social</label>
                <input type="razonSocial" formControlName="razonSocial" class="form-control" id="razonSocial">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" (click)="c('Save click')">Guardar</button>
        </div>
    </form>
</ng-template>

<ng-template #editar let-c="close" let-d="dismiss">
    <form [formGroup]="editarInstitucion" (ngSubmit)="onEdit()">

        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Editar Institución</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="mb-3">
                <label for="rut" class="form-label">RUT</label>
                <input type="rut" class="form-control" formControlName="rut" id="rut">
            </div>
            <div class="mb-3">
                <label for="razonSocial" class="form-label">Razon Social</label>
                <input type="razonSocial" formControlName="razonSocial" class="form-control" id="razonSocial">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" (click)="c('Save click')">Guardar</button>
        </div>
    </form>
</ng-template>

<ng-template #borrar let-modal let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Borrar Institución</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>¿Esta seguro que quiere eliminar la institución <span class="text-primary">"{{selectedInstitucion?.razonSocial}}"</span>?</strong></p>
        <p>Toda la información asociada se eliminara permanentemente
            <br>
        <span class="text-danger">Esta operación no se puede deshacer.</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary"  (click)="d()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="onDelete(modal)">Confirmar</button>
      </div>
</ng-template>