<div class="card mt-2">
    <div class="card-body">
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
</div>


<ng-template #agregar let-c="close" let-d="dismiss">
    <form [formGroup]="agregarEvento" (ngSubmit)="onSubmit()">

        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Agregar Evento</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input class="form-control" formControlName="nombre" id="nombre">
            </div>
            <div class="row">
                <div class="modal-body">
                    <strong>Recurrencias: </strong><br>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" formControlName="semanalmente"
                            id="semanalmente">
                        <label for="semanalmente" class="form-check-label">Semanalmente</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" formControlName="mensualmente"
                            id="mensualmente">
                        <label for="mensualmente" class="form-check-label">Mensualmente</label>
                    </div>
                </div>

            </div>
            <div class="row" *ngIf="soloUnDia(agregarEvento.value)">
                <div class="modal-body">
                    <strong>Días de la semana: </strong><br>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" formControlName="lunes" id="lunes">
                        <label for="lunes" class="form-check-label">Lunes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" formControlName="martes" id="martes">
                        <label for="martes" class="form-check-label">Martes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" formControlName="miercoles" id="miercoles">
                        <label for="miercoles" class="form-check-label">Miércoles</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" formControlName="jueves" id="miercoles">
                        <label for="jueves" class="form-check-label">Jueves</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" formControlName="viernes" id="miercoles">
                        <label for="viernes" class="form-check-label">Viernes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" formControlName="sabado" id="miercoles">
                        <label for="sabado" class="form-check-label">Sábado</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" formControlName="domingo" id="miercoles">
                        <label for="domingo" class="form-check-label">Domingo</label>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" [disabled]="!agregarEvento.valid" class="btn btn-outline-dark" (click)="c('Save click')">Guardar</button>
        </div>
    </form>
</ng-template>

<ng-template #info let-c="close" let-d="dismiss">

        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Agregar Evento</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="submit" [disabled]="!agregarEvento.valid" class="btn btn-outline-dark" (click)="c('Save click')">Guardar</button>
        </div>
</ng-template>