    <div class="card">
        <div class="card-body">
            <webcam [width]="424" (imageCapture)="handleImage($event)" (initError)="handleInitError($event)"
                [trigger]="triggerObservable" [allowCameraSwitch]="false"></webcam>

        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="triggerSnapshot();">Enviar captura</button>

        </div>
        <!-- <div class="card-footer">
            <button class="btn btn-primary" (click)="send();">Enviar captura</button>

        </div> -->
    </div>

    <!-- <div class="snapshot" *ngIf="webcamImage">
        <img [src]="webcamImage.imageAsDataUrl" />
    </div> -->


<!-- 
<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
</ul> -->