<div class="card mt-2">
    <div class="card-body">
        <h5 class="card-title">Edificios
            <button *ngIf="miTenant&&(admin||gestor)" class="btn btn-outline-primary" (click)="agregarModal(agregar)">
                <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </h5>
        <table class="table table-striped p-col">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Latitud</th>
                    <th scope="col">Longitud</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let edificio of edificios; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ edificio.nombre }}</td>
                    <td>{{ edificio.latitud }}</td>
                    <td>{{ edificio.longitud }}</td>
                    <td>
                        <button *ngIf="miTenant&&(admin||gestor)" class="btn btn-outline-warning mr-1"
                            (click)="editarModal(editar,edificio)" ngbTooltip="Editar Edificio">
                            <fa-icon [icon]="faEdit"></fa-icon>
                        </button>
                        <button *ngIf="miTenant&&(admin||gestor)" class="btn btn-outline-danger mr-1"
                            (click)="borrarModal(borrar,edificio)" ngbTooltip="Eliminar Edificio">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </button>

                        <button *ngIf="miTenant&&edificio.id" class="btn btn-outline-primary mr-1" label="Accesos"
                            [routerLink]="edificio.id+'/accesos'" ngbTooltip="Accesos al Edificio">
                            <fa-icon [icon]="faPersonBooth"></fa-icon>
                        </button>
                        <button class="btn btn-outline-success mr-1" (click)="mapModal(map,edificio)" ngbTooltip="Ubicación del Edificio">
                            <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
                        </button>
                        <button class="btn btn-outline-dark mr-1" *ngIf="edificio.id"
                            [routerLink]="'salones/'+edificio.id" label="Salones" ngbTooltip="Salones del Edificio">
                            <fa-icon [icon]="faBoard"></fa-icon>
                        </button>
                        <button class="btn btn-outline-secondary mr-1" label="Puertas" ngbTooltip="Puertas del Edificio" *ngIf="edificio.id"
                            [routerLink]="'puertas/'+edificio.id">
                            <fa-icon [icon]="faDoor"></fa-icon>
                        </button>
                        <button class="btn btn-outline-info mr-1" label="Novedades" ngbTooltip="Novedades del Edificio" *ngIf="edificio.id"
                            [routerLink]="'novedades/'+edificio.id">
                            <fa-icon [icon]="faBell"></fa-icon>
                        </button>
                        <button class="btn btn-outline-info mr-1" ngbTooltip="Asignaciones de puertas" *ngIf="edificio.id"
                            [routerLink]="edificio.id+'/asignaciones'">
                            <fa-icon [icon]="faMapSigns"></fa-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #agregar let-c="close" let-d="dismiss">
    <form [formGroup]="agregarEdificio" (ngSubmit)="onSubmit()">

        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Agregar Edificio</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="nombre" class="form-control" formControlName="nombre" id="nombre">
            </div>

            <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onChange($event)">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
            <!-- <div class="mb-3">
                <label for="latitud" class="form-label">Latitud</label>
                <input type="latitud" class="form-control" formControlName="latitud" id="latitud">
            </div>

            <div class="mb-3">
                <label for="longitud" class="form-label">Longitud</label>
                <input type="longitud" formControlName="longitud" class="form-control" id="longitud">
            </div> -->

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" (click)="c('Save click')">Guardar</button>
        </div>
    </form>
</ng-template>

<ng-template #editar let-c="close" let-d="dismiss">
    <form [formGroup]="editarEdificio" (ngSubmit)="onEdit()">

        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Editar Edificio</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="nombre" class="form-control" formControlName="nombre" id="nombre">
            </div>

            <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onChangeE($event)">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" (click)="c('Save click')">Guardar</button>
        </div>
    </form>
</ng-template>

<ng-template #borrar let-modal let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Borrar Edificio</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>¿Esta seguro que quiere eliminar el edificio <span
                    class="text-primary">"{{selectedEdificio?.id}}"</span>?</strong></p>
        <p>Toda la información asociada se eliminara permanentemente
            <br>
            <span class="text-danger">Esta operación no se puede deshacer.</span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="d()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="onDelete(modal)">Confirmar</button>
    </div>
</ng-template>

<ng-template #map let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ubicación Edificio</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>

    </div>
</ng-template>